<!DOCTYPE html>
<html lang="en">
  <head></head>
<body>
  <h1>Create a Team and Heroes!</h1>
  <form action="/teams" method="post">
  <label for="name">Team Name:</label><br>
  <input type="text" name="team[name]">
  <label for="motto">Team Motto:</label><br>
  <input type="text" name="team[motto]">
  
  <label for="name">Hero's name:</label><br>
  <input id="member1_name" type="text" name="team[members][][name]">
   <label for="name">Hero's Power:</label><br>
  <input id="member1_power" type="text" name="team[members][][power]">
   <label for="name">Hero's Biography:</label><br>
  <input id="member1_bio" type="text" name="team[members][][biography]">
  
  <label for="name">Hero's name:</label><br>
  <input id="member2_name" type="text" name="team[members][][name]">
   <label for="name">Hero's Power:</label><br>
  <input id="member2_power" type="text" name="team[members][][power]">
   <label for="name">Hero's Biography:</label><br>
  <input id="member2_bio" type="text" name="team[members][][biography]">
  
  <label for="name">Hero's name:</label><br>
  <input id="member3_name" type="text" name="team[members][][name]">
   <label for="name">Hero's Power:</label><br>
  <input id="member3_power" type="text" name="team[members][][power]">
   <label for="name">Hero's Biography:</label><br>
  <input id="member3_bio" type="text" name="team[members][][biography]">
  <input type="submit" value="submit">
  </form>
</body>
</html>