<!DOCTYPE html>
<html lang="en">
  <head></head>
<body>
  <h1>Create a Team and Heroes</h1>
  <form action="/team" method="post">
  <label for="name">Teame Name:</label><br>
  <input type="text" name="superhero[name]">
  <label for="motto">Teame Motto:</label><br>
  <input type="text" name="superhero[motto]">
  
  <h2>Hero 1</h2>
  <label for="name">Hero's name:</label><br>
  <input id="hero_1_name" type="text" name="superhero[hero][][name]">
   <label for="name">Hero's Power:</label><br>
  <input id="hero_1_power" type="text" name="superhero[hero][][power]">
   <label for="name">Hero's Biography:</label><br>
  <input id="hero_1_biography" type="text" name="superhero[hero][][biography]">
  
  
    
  
  </form>
</body>
</html>