<!DOCTYPE html>
<html lang="en">
  <head></head>
<body>
  
  <form action="/teams" method="post">
  <label for="name">Teame Name:</label><br>
  <input type="text" name="team[name]">
  <label for="motto">Teame Motto:</label><br>
  <input type="text" name="team[motto]">
  
  <label for="name">Hero's name:</label><br>
  <input id="hero_1_name" type="text" name="superhero[hero][][name]">
   <label for="name">Hero's Power:</label><br>
  <input id="hero_1_power" type="text" name="superhero[hero][][power]">
   <label for="name">Hero's Biography:</label><br>
  <input id="hero_1_biography" type="text" name="superhero[hero][][biography]">
  
  <label for="name">Hero's name:</label><br>
  <input id="hero_2_name" type="text" name="superhero[hero][][name]">
   <label for="name">Hero's Power:</label><br>
  <input id="hero_2_power" type="text" name="superhero[hero][][power]">
   <label for="name">Hero's Biography:</label><br>
  <input id="hero_2_biography" type="text" name="superhero[hero][][biography]">
  
  <label for="name">Hero's name:</label><br>
  <input id="hero_3_name" type="text" name="superhero[hero][][name]">
   <label for="name">Hero's Power:</label><br>
  <input id="hero_3_power" type="text" name="superhero[hero][][power]">
   <label for="name">Hero's Biography:</label><br>
  <input id="hero_3_biography" type="text" name="superhero[hero][][biography]">
  <input type="submit" value="submit">
  </form>
</body>
</html>